@{
    var currentPage = Context.Request.Path;

    string? currentArea = ViewContext.RouteData.Values["area"]?.ToString();
    string? currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    string? currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<aside id="default-sidebar" class="w-full h-full bg-black" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-black">
        <a href="/" class="h-16 w-50 flex-none">
            <p class="flex text-white flex-col justify-center text-3xl font-bold px-2">Talpa</p>
        </a>
        <ul class="space-y-2 font-medium pt-10">
            <li>
                <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="flex items-center p-2 text-white rounded-lg bg-black hover:bg-gray-800
                    @(currentController == "Admin" ? "bg-gray-800" : "bg-black")">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        dashboard
                    </span>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Activity" asp-action="Index" class="flex items-center p-2 text-white rounded-lg bg-black hover:bg-gray-800
                    @(currentController == "Activity" ? "bg-gray-800" : "bg-black")">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        menu_book
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Activities</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Suggestion" asp-action="Index" class="flex items-center p-2 text-white rounded-lg bg-black hover:bg-gray-800
                    @(currentController == "Suggestion" ? "bg-gray-800" : "bg-black")">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        menu_book
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Suggestions</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<script>
    function navigateToPage(url) {
        window.location.href = url;
    }
</script>
