@{
    var currentPage = Context.Request.Path;
}

<aside id="default-sidebar" class="w-full h-full" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white">
@*        <img src="@Url.Content("~/Images/Main/TKDPLogo.png")" class="w-32 h-32" />*@
        <ul class="space-y-2 font-medium">
            <li>
                <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        dashboard
                    </span>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Activity" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        menu_book
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Activities</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Suggestion" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        menu_book
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Suggestions</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<script>
    function navigateToPage(url) {
        window.location.href = url;
    }
</script>
