@model SampleMvcApp.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"].</h2>

            <div class="col-md-2">
                <img src="@Model.ProfileImage"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                <h3>@Model.Name</h3>

                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.EmailAddress
                </p>
            </div>
            <div>"hoii"</div>
            <div class="mb-4 w-full">
@*                 <h1 style= "width:20%" class="text-3xl font-medium text-center">Wat is de titel van de suggestie?</h1>
 *@                <h2 style= "margin-left:2%" class="text-xl text-gray-400 font-medium pt-2"> Naam wijzigen <h2>
            </div>

            <form method="post" asp-action="Update" enctype="multipart/form-data">
                <div class="mb-4 w-full">
                    <div class="input-group relative w-full">
                        <input required="" type="text" name="Name" style="width: 50%; margin-left: 2%;" id="Name" autocomplete="off" class="border-gray-300 custom-input input border rounded-lg p-4 transition duration-150 ease-in-out focus:border-[#5236AB]">
                    </div>
                    <span asp-validation-for="Name" class="text-red-700"></span>
                </div>
            <div class="mb-4">
                <fieldset>
                    <legend>Upload Image</legend>
                    <label for="Image">Image</label>
                    <input type="file" name="Image" id="imageUpload" onchange="previewImage(event)" />
                    <br />
                    <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 200px; max-height: 200px; display: none;" />
                    <br />
                </fieldset>
            </div>

                <div class="form-group">
                    <button type="submit" style="padding: 15px 30px; font-size: 16px; border: none;" class="text-white bg-[#007bff] rounded-md">Save</button>
                </div>
            </form>





            
        </div>
    </div>
    <script>
        function previewImage(event) {
            var input = event.target;
            var preview = document.getElementById('imagePreview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>