@model SampleMvcApp.ViewModels.UserProfileViewModel

<div class="lg:text-sm lg:font-medium">
    <div class="nav navbar-nav navbar-right">
        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" class="flex text-sm bg-white rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-10 h-10 rounded-full"
                     src="@(Model.ProfileImage != null ? Url.Content("~/img/profile/" + Model.ProfileImage) : Url.Content("~/img/default-profile.png"))"
                     alt="user photo">
            </button>

            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm">@Model.Name</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a class="block px-4 py-2 text-sm hover:bg-gray-100" asp-area="" asp-controller="Account" asp-action="Profile">
                            Account
                        </a>
                    </li>
                    <li>
                        <a id="qsLogoutBtn" asp-area="" asp-controller="Account" asp-action="Logout" class="block px-4 text-start py-2 text-sm hover:bg-gray-100 w-full">
                            @Localizer["Logout"]
                        </a>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div class="mt-2">
                <a id="qsLoginBtn" asp-controller="Account" asp-action="Login" class="text-white">@Localizer["Login"]</a>
            </div>
        }
    </div>
</div>
