@model SuggestionViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="h-full py-10 px-2 md:px-20">
    <div class="w-full shadow-lg p-10">
        <div class="w-full">
            <div>
                <div class="flex justify-between">
                    <div>
                        <p class="text-4xl font-bold">@Html.DisplayFor(model => model.Name)</p>
                    </div>

                    <div>
                        <div class="flex justify-end">
                            <div class="flex flex-col justify-center">
                                <span class="material-symbols-outlined" style="font-size: 60px;
                                    color: @((int)Model.ActivityState == (int)ActivityState.Rejected ? "red" :
                                            (int)Model.ActivityState == (int)ActivityState.Pending ? "yellow" :
                                            (int)Model.ActivityState == (int)ActivityState.Accepted ? "green" :
                                            "gray");">
                                    @((int)Model.ActivityState == (int)ActivityState.Rejected ? "dangerous" :
                                        (int)Model.ActivityState == (int)ActivityState.Pending ? "pending_actions" :
                                        (int)Model.ActivityState == (int)ActivityState.Accepted ? "check_circle" :
                                        "")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-10">
                    <h2 class="text-2xl font-medium">Beschrijving:</h2>
                    <p class="text-lg">@Html.DisplayFor(model => model.Description)</p>
                </div>

                <div class="pt-10">
                    <h2 class="text-2xl font-medium">Beperkingen:</h2>

                    <div class="mb-4 w-full pt-4">
                        <div class="input-group relative w-full">
                            <input required="" type="text" name="Limitation" id="Limitation" autocomplete="off" class="border-gray-300 w-full custom-input input border rounded-lg p-4 transition duration-150 ease-in-out focus:border-blue-500">
                            <label for="Limitation" class="custom-label user-label absolute left-4 translate-y-4 transition duration-150 ease-in-out text-gray-400 pointer-events-none">Limitation</label>
                        </div>
                        <span for="Limitation" class="text-red-700"></span>
                    </div>

                    <div class="w-full flex justify-end">
                        <input type="submit" value="Beperking toevoegen" class="cursor-pointer bg-blue-500 px-4 hover:bg-blue-600 text-white font-bold py-2 rounded" />
                    </div>

                    <div class="w-full shadow-lg rounded-md mt-4 p-3">
                        <h3 class="text-lg font-medium">Beperking</h3>
                        <p>Dit is een beperking die bij het uitje past.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-input:focus,
    .custom-input:valid {
        outline: none;
        border: 1.5px solid #1a73e8;
    }

        .custom-input:focus ~ .custom-label,
        .custom-input:valid ~ .custom-label {
            transform: translateY(-50%) scale(0.8);
            background-color: white;
            padding: 0 .2em;
            color: #2196f3;
        }
</style>
