@model QuarterDayViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="h-screen px-10 pt-10 overflow-auto">
    <div class="bg-white rounded-md">
    <div class="flex gap-10 py-10 justify-center bg-white rounded-lg">
        @foreach (var monthGroup in Model.Days.GroupBy(day => day.Month))
        {
            <div class="bg-[#E8E5F2] p-4 rounded-md">
                <div>
                    <h3 class="text-4xl font-medium">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(monthGroup.Key)</h3>
                    <table class="text-xl table-auto mt-6">
                        <thead>
                            <tr>
                                <th>Ma</th>
                                <th>Di</th>
                                <th>Wo</th>
                                <th>Do</th>
                                <th>Vr</th>
                                <th>Za</th>
                                <th>Zo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var day in monthGroup)
                            {
                                @if (day.DayOfWeek == DayOfWeek.Monday)
                                {
                                    @:<tr>

                                    @if (day.Day == 1)
                                    {
                                        @for (var i = 0; i < (int)day.DayOfWeek - 1; i++)
                                        {
                                            <td></td>
                                        }
                                    }

                                    <td class="text-center h-10 w-10">@day.Day</td>
                                }
                                else
                                {
                                    @if (day.Day == 1)
                                    {
                                        @for (var i = 0; i < (int)day.DayOfWeek - 1; i++)
                                        {
                                            <td></td>
                                        }
                                    }

                                    <td class="text-center h-10 w-10">@day.Day</td>
                                }

                                @if (day.DayOfWeek == DayOfWeek.Sunday)
                                {
                                    @:</tr> 
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </div>

        <div class="px-10 flex justify-center gap-4 pb-6">
            <div class="">
                <a asp-action="Index" class="bg-white border border-[#5236AB] w-96 hover:bg-gray-100 text-center flex flex-col justify-center font-bold rounded py-2 text-[#5236AB]">Annuleren</a>
            </div>
            <div class="">
                <input type="submit" value="Accepteren" class="cursor-pointer bg-[#5236AB] w-96 hover:bg-[#300FA8] text-white font-bold py-2 rounded" />
            </div>
        </div>
    </div>
</div>


