@model SuggestionViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="px-2 md:px-20 lg:px-32">
    <div class="bg-white p-4 mt-10">
        <h3 class="text-4xl font-semibold text-gray-900 pt-5">
            Maak een nieuwe activiteit aan
        </h3>

        <p class="text-3xl font-semibold pt-10">Activiteit keuze:</p>

        <div class="bg-[#E8E5F2] p-4 rounded-md mt-4">
            <p class="text-4xl font-bold text-[#200A58] pt-4">@Model.Name</p>

            <div class="pt-10">
                <p class="text-xl text-[#200A58]">Beschrijving:</p>
                <p class="pt-2 text-[#200A58]">@Model.Description</p>
            </div>
        </div>

        <div class="flex justify-center w-full">
            <div class="w-96">
                <p class="text-2xl pt-10">Kwartaal keuze:</p>

                <div class="mb-4 mt-4">
                    <select id="CategoryId" name="CategoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option>-- Select Quarter --</option>
                        @*                    @foreach (var suggestionOpt in Model)
                        {
                        <option value="@suggestionOpt.Id">@suggestionOpt.Name</option>
                        }*@
                    </select>
                </div>
            </div>
        </div>

        <div class="md:px-10 flex flex-col h-full justify-end">
            <div class="flex flex-col flex-col-reverse sm:flex-row gap-2 md:gap-4">
                <div class="w-full flex justify-end">
                    <a asp-action="Index"
                            class="bg-white text-center border border-blue-500 w-full hover:bg-gray-100 font-bold rounded py-2 text-blue-500">
                        Annuleer
                    </a>
                </div>

                <div class="w-full flex justify-end">
                    <a asp-area="Admin" asp-action="Create" class="cursor-pointer bg-blue-500 w-full text-center hover:bg-blue-600 text-white font-bold py-2 rounded">Datum toevoegen</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
