@model TimeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="h-screen px-2 md:px-10 pt-10 overflow-auto">
    <div class="flex justify-center">
        <div>
        @foreach (var dateTime in Model.DateTimes)
        {
        <div class="w-[800px] bg-white p-4 rounded-md mt-10">
            <div class="flex justify-center">
                <div>
                    <h1 class="font-bold text-2xl">@dateTime.ToString("dddd d MMMM yyyy")</h1>
                    <div class="flex justify-between w-full pt-4">
                        <div class="md:flex gap-4">
                            <div>
                                <label>Starttijd</label>

                                <div class="flex gap-4 mt-2">
                                    <div class="flex gap-2">
                                        <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(parseInt(this.value) > 59) this.value = '59';" maxlength="2" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <p class="text-3xl">:</p>
                                        <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(parseInt(this.value) > 59) this.value = '59';" maxlength="2" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    </div>
                                </div>
                            </div>

                            <p class="text-3xl md:pt-8">-</p>

                            <div>
                                <label>Eindtijd</label>

                                <div class="flex gap-4 mt-2">
                                    <div class="flex gap-2">
                                        <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(parseInt(this.value) > 59) this.value = '59';" maxlength="2" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <p class="text-3xl">:</p>
                                        <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(parseInt(this.value) > 59) this.value = '59';" maxlength="2" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex gap-4 w-full justify-end">

                            <div>
                                <label>All day</label>

                                <div class="flex gap-4 mt-2">
                                    <div class="flex gap-2">
                                        <input type="checkbox" class="h-10 w-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                                    </div>
                                </div>
                            </div>

                            <div class="flex pt-8">
                                <span class="material-symbols-outlined text-red-500" style="font-size: 40px;">
                                    delete
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        </div>
    </div>
</div>


