{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=talpa;Uid=root;Pwd=;",
    "ApplicationDbContextConnection": "Server=(localdb)\\mssqllocaldb;Database=talpa;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
